/* Main content stlying */
.grid-container {
    height: 97vh;
    display: grid;
    grid-template-columns: 0fr 2fr 2fr;
    grid-template-rows: 0fr 1fr;
}

/* Navbar Styling  */
.nav-container {
    grid-column: span 3;
}
nav a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration:none;
    text-align: center;
    color:#16151ba1;
    font-size:16px;
    letter-spacing:1px;
    position:relative;
    display:inline;
}
nav svg {
    position: relative;
    top: 2px;
}
#brand-logo {
    float: left;
    padding-left: 30px;
}
#nav-email {
    padding-left: 20%;
}
.nav-right {
    float: right;
    padding-right: 30px;
}

/* sidebar styling */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar a {
    padding: 10px;
    color:#16151ba1;
}
.sidebar svg {
    width: 20px;
    height: auto;
}

/* Bio styling */
.avatar-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
}
.avatar-bio h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 90px;
    line-height: 5rem;
    color: #16151bb4;
    margin: 0;
    padding: 0;
}
.avatar-bio h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    padding-bottom: 1rem;
}
#skewed-name {
    padding-left: 110px;
}
.avatar-bio p {
    font-family: 'Poppins', sans-serif;
    width: 65%;
    padding-bottom: 3rem;
}
.avatar-bio img {
    width: 40%; 
    height: 20%; 
    object-fit: none;
    margin: 0;
    padding-left: 100px;
    padding-bottom: 2rem;
}

/* Button by Algolia */
.avatar-bio button {
    align-items: center;
    appearance: none;
    background-color: #f8bf05;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#f8bf05 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.avatar-bio button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.avatar-bio button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #000000 0 -3px 0 inset;
    transform: translateY(-2px);
}

.avatar-bio button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

/* Avatar styling */
.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10rem;
}

.avatar img {
    border: 5px solid rgba(0, 0, 0, 0.699);
    border-radius: 50%;
    box-shadow: 10px 10px 5px rgb(60, 61, 61);
}