
nav{
    width: 100%;
    position: fixed;
    top:20px;
}

nav a{
    font-family: 'Roboto Mono', monospace;
    font: weight 400px;
    text-transform:uppercase;
    text-decoration:none;
    text-align: center;
    color:#16151ba1;
    font-size:16px;
    letter-spacing:1px;
    position:relative;
    display:inline;
}

nav svg {
    position: relative;
    top: 2px;
}

#brand-logo {
    float: left;
    padding-left: 30px;
}

#nav-email {
    padding-left: 20%;
}

.nav-right {
    float: right;
    padding-right: 30px;
}

