/* Main content stlying */
.grid-container {
    height: 93vh;
    min-width: auto;
    display: grid;
    grid-template-columns: 0fr 2fr 2fr;
    grid-template-rows: 1fr;
    gap: 3rem;
}

/* Navbar Styling  */
.nav-container {
    grid-column: span 3;
}
nav a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration:none;
    text-align: center;
    color:#16151ba1;
    font-size:16px;
    position:relative;
    display:inline;
}
nav svg {
    position: relative;
    top: 2px;
}
#brand-logo {
    padding-left: 10px;
}
#nav-email {
    margin-right: 23.5%;
}
#center-logo{
    float: right;
    display: none;
}
.nav-right {
    float: right;
    padding-right: 30px;
}

nav .toggle_btn {
    float: right;
    display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    color:#16151ba1;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(41, 40, 40, 0.342);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 285px;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: end;
    justify-content: end;
}
.dropdown-menu li a {
    color: white;
}

/* sidebar styling */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar a {
    padding: 10px;
    color:#16151ba1;
}
.sidebar svg {
    width: 20px;
    height: auto;
}

/* Bio styling */
.avatar-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatar-bio h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 90px;
    line-height: 5rem;
    color: #16151bb4;
    margin: 0;
    padding-right: 70px;
}
.avatar-bio h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    padding-bottom: 1rem;
}
#skewed-name {
    padding-left: 150px;
}
.avatar-bio p {
    font-family: 'Poppins', sans-serif;
    width: 80%;
    padding-bottom: 3rem;
    text-align: justify;
    text-justify: auto;
}
.avatar-bio img {
    width: 100px; 
    height: auto; 
    object-fit: contain;
    margin: 0;
    padding-left: 100px;
    padding-bottom: 2rem;
}

.avatar-bio button {
    /* Button by Algolia */
    align-items: center;
    appearance: none;
    background-color: #f75f5f;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#f75f5f 0 -3px 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.avatar-bio button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.avatar-bio button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #000000 0 -3px 0 inset;
    transform: translateY(-2px);
}

.avatar-bio button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

/* Avatar styling */
.about-me {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow: auto;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
}

/* Damon Information Hide/Show */
.info-cell-damon {
    background-color: #f7cf5f;
    border-radius: 4px;
    border-width: 0;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 80%;
    margin-bottom: 25px;
}

.info-cell-damon label {
    margin-top: 2px;
    text-align: center;
}
.info-cell-damon .hide-damon {
    width: 100%;
    display: inline-block;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
    opacity: 0;
}

.info-cell-damon .inner-damon {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    text-justify: auto;
}

.info-cell-damon input[type="checkbox"]:checked + .hide-damon {
    height: 150px;
    opacity: 100;
    display: table;
}

/* Archive Information Hide/Show */
.info-cell-archive {
    background-color: #63e1d0cc;
    border-radius: 4px;
    border-width: 0;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 80%;
    margin-bottom: 25px;
}

.info-cell-archive label {
    margin-top: 2px;
    text-align: center;
}
.info-cell-archive .hide-archive {
    width: 100%;
    display: inline-block;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    opacity: 0;
}

.info-cell-archive .inner-archive {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    text-justify: auto;
}

.info-cell-archive input[type="checkbox"]:checked + .hide-archive {
    height: 150px;
    opacity: 100;
    display: table;
}

/* TD Information Hide/Show */
.info-cell-td {
    background-color: #008a00af;
    border-radius: 4px;
    border-width: 0;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 80%;
    margin-bottom: 25px;
}

.info-cell-td label {
    margin-top: 2px;
    text-align: center;
}
.info-cell-td .hide-td {
    width: 100%;
    display: inline-block;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    opacity: 0;
}

.info-cell-td .inner-td {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    text-justify: auto;
}

.info-cell-td input[type="checkbox"]:checked + .hide-td {
    height: 150px;
    opacity: 100;
    display: table;
}

/* Media Queries */
@media (max-width: 1500px) {
    
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 1fr;
    }
    nav > a {display: none;}
    nav .toggle_btn {display: block;}
    nav #brand-logo {display: inline-block;}
    .dropdown-menu {display: block;}
    .avatar-bio {
        margin-top: 60px;
    }
    .avatar-bio p {text-align: center;}
    .about-me {
        overflow: unset;
        margin-top: 70px;
        align-items: center;
    }
    .sidebar {display: none;}
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: auto;
    }
}

@media (max-width: 576px) {
    .toggle_btn{margin: 0;}
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }
    .avatar-bio{margin-left: 30px;}
    .avatar-bio h1 {padding: 0;}
    #skewed-name {padding: 0;}
}